! Base16 Modus Operandi (Deuteranopia)
! Author: emacs people

! base00: #ffffff
! base01: #eaeaea
! base02: #d6d6d6
! base03: #bfbfbf
! base04: #808080
! base05: #000000
! base06: #3c3c3c
! base07: #ffffff
! base08: #d70000
! base09: #d75f00
! base0A: #87af00
! base0B: #5f875f
! base0C: #5fafff
! base0D: #005faf
! base0E: #af5fff
! base0F: #ffaf00

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #eaeaea, #eaeaea, #ffffff

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #eaeaea, #000000, #eaeaea, #eaeaea, #ffffff
rofi.color-active:  #eaeaea, #005faf, #eaeaea, #eaeaea, #005faf
rofi.color-urgent:  #eaeaea, #d70000, #eaeaea, #eaeaea, #d70000

! Set the desired separator style
rofi.separator-style: solid
