! Base16 Modus Vivendi (Deuteranopia)
! Author: emacs people

! base00: #000000
! base01: #44df44
! base02: #efef00
! base03: #1e1e1e
! base04: #338fff
! base05: #ffffff
! base06: #ff66ff
! base07: #989898
! base08: #ff5f59
! base09: #ff5f5f
! base0A: #cabf00
! base0B: #44bc44
! base0C: #00d3d0
! base0D: #2fafff
! base0E: #feacd0
! base0F: #00eff0

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #44df44, #44df44, #000000

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #44df44, #ffffff, #44df44, #44df44, #989898
rofi.color-active:  #44df44, #2fafff, #44df44, #44df44, #2fafff
rofi.color-urgent:  #44df44, #ff5f59, #44df44, #44df44, #ff5f59

! Set the desired separator style
rofi.separator-style: solid
