# Scheme name: Modus Vivendi (Deuteranopia)
# Scheme system: 
# Scheme author: emacs people
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#ff5f59'
local color02='#44bc44'
local color03='#cabf00'
local color04='#2fafff'
local color05='#feacd0'
local color06='#00d3d0'
local color07='#ffffff'
local color08='#f2f2f2'
local color09='#1e1e1e'
local color0A='#ff5f5f'
local color0B='#44df44'
local color0C='#efef00'
local color0D='#ff66ff'
local color0E='#00eff0'
local color0F='#989898'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
