# Scheme name: Modus Vivendi (Deuteranopia)
# Scheme system: 
# Scheme author: emacs people
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#44df44'
local color02='#efef00'
local color03='#1e1e1e'
local color04='#338fff'
local color05='#ffffff'
local color06='#ff66ff'
local color07='#989898'
local color08='#ff5f59'
local color09='#ff5f5f'
local color0A='#cabf00'
local color0B='#44bc44'
local color0C='#00d3d0'
local color0D='#2fafff'
local color0E='#feacd0'
local color0F='#00eff0'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
