/* Modus Vivendi (Deuteranopia) by emacs people */

:root {
  --base00: #000000;
  --base01: #ff5f59;
  --base02: #44bc44;
  --base03: #cabf00;
  --base04: #2fafff;
  --base05: #feacd0;
  --base06: #00d3d0;
  --base07: #ffffff;
  --base08: #f2f2f2;
  --base09: #1e1e1e;
  --base0A: #ff5f5f;
  --base0B: #44df44;
  --base0C: #efef00;
  --base0D: #ff66ff;
  --base0E: #00eff0;
  --base0F: #989898;
}
